<div id="wrapper" class="container-fluid">
	<%= render partial: 'top_navbar' %>

	<!-- Content -->
	<div id="content" class="col-md-10 col-md-offset-1">
		<div id="hero_image">
			<p>Trevor Elwell</p>
		</div>
		
		<div id="headshot_image">
			<%= image_tag "headshot.png" %>
		</div>
		
		<%= render partial: 'main_navbar' %>

		<div id="about_header" class="col-md-12">
			<h2 class="inline">Friends</h2>
		</div>
		
		<div id="row">
			<div id="about_info_container">
				<div id="about_info_left" class="col-md-6">
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
				</div>
				
				<div id="about_info_right" class="col-md-6">
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
					<div class="friend-block">
						<table>
							<tr>
								<td><%= image_tag "hermione.png" %></td>
								<td><a href="#">Hermione Granger</a><br/>423 Friends</td>
								<td><button class="btn btn-warning">Unfriend Me</button>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- / Content -->