<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<!-- Content -->
	<div id="content" class="col-md-10 col-md-offset-1">
		<div id="hero_image">
			<p><%= "#{@current_user.first_name} #{@current_user.last_name}" %></p>
		</div>
		
		<div id="headshot_image">
			<%= image_tag "headshot.png" %>
		</div>
		
		<!-- Main navbar under hero image and headshot -->
		<div id="about_navbar" class="col-md-10">
			<div class="row col-md-offset-3">
				<div class="col-md-2 navbar_button"><p><%= link_to "Timeline", '/static_pages/timeline' %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "About", profile_path(@current_user.profile) %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "Photos", '/static_pages/photos' %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "Friends", '/static_pages/friends' %></p></div>
			</div>
		</div>
		
		<div id="about_header" class="col-md-12">
			<h2 class="inline">Edit Profile</h2>
		</div>
		
		<div id="row">
			<div id="about_info_container">

				<!-- Begin the form_for, not nesting things associated 
							with the User for now but could be an addition
							in the future -->
				<%= form_for @profile do |profile_field| %>

					<div id="about_info_left" class="col-md-4">

						<h3>Basic Information</h3>

						<table>

							<tr>
								<td><b>Birthday:</b></td>
								<td><%= @current_user.birthday.strftime('%B %d, %Y') %></td>
							</tr>

							<tr>
								<td><b>College:</b></td>
								<td><%= profile_field.text_field :college, { class: "form-control", placeholder: "University Name" } %></td>
							</tr>

							<tr>
								<td><b>Hometown:</b></td>
								<td><%= profile_field.text_field :hometown, { class: "form-control", placeholder: "Hometown" } %></td>
							</tr>

							<tr>
								<td><b>Currently Lives:</b></td>
								<td><%= profile_field.text_field :currently_live, { class: "form-control", placeholder: "Current Location" } %></td>
							</tr>

						</table>
						
						<h3>Contact Information</h3>

						<table>

							<tr>
								<td><b>Email:</b></td>
								<td><a href="mailto:<%= @current_user.email %>"><%= @current_user.email %></a></td>
							</tr>

							<tr>
								<td><b>Telephone:</b></td>
								<td><%= profile_field.number_field :phone, { class: "form-control", placeholder: "Phone" } %></td>
							</tr>

						</table>

					</div> <!-- /about_info_left -->
					
					<div id="about_info_right" class="col-md-8">

						<h3>Words To Live By</h3>

						<p><%= profile_field.text_area :words_to_live_by, rows: "10", class: "form-control", placeholder: "What are some words that you live by?" %></p>
						
						<h3>About Me</h3>

						<p><%= profile_field.text_area :bio, rows: "10", class: "form-control", placeholder: "Tell us a bit about yourself..." %></p>

						<div class="form-group">
							<%= profile_field.submit class: "btn btn-primary col-sm-8 col-sm-offset-2" %>
						</div>

					</div> <!-- /about_info_right -->

				<% end %> <!-- End form_for @profile -->

			</div>
		</div>
	</div>
	<!-- / Content -->