<div id="wrapper" class="container-fluid">
<%= render partial: '/shared/main_navbar' %>

<!-- Content -->
	<div id="content" class="col-md-10 col-md-offset-1">
		<div id="hero_image">
			<p><%= "#{@profile.user.first_name} #{@profile.user.last_name}" %></p>
		</div>
		
		<div id="headshot_image">
			<%= image_tag "headshot.png" %>
		</div>
		
		<!-- Main navbar under hero image and headshot -->
		<div id="about_navbar" class="col-md-10">
			<div class="row col-md-offset-3">
				<div class="col-md-2 navbar_button"><p><%= link_to "Timeline", '/static_pages/timeline' %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "About", profile_path(@current_user.profile) %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "Photos", '/static_pages/photos' %></p></div>
				<div class="col-md-2 navbar_button"><p><%= link_to "Friends", '/static_pages/friends' %></p></div>
				<% if belongs_to_current_user? %>
					<span class="col-md-2 col-md-offset-2 align-right"><%= link_to "Edit Profile", edit_profile_path(@current_user.profile) %></span>
				<% end %>
			</div>
		</div>
		
		<div id="about_header" class="col-md-12">
			<h2 class="inline">About</h2>
			<% if belongs_to_current_user? %>
				<%= link_to "Edit Profile", edit_profile_path(@current_user.profile), class: "btn btn-info inline pull-right" %>
			<% end %>
		</div>
		
		<div id="row">
			<div id="about_info_container">
				<div id="about_info_left" class="col-md-4">
					<h3>Basic Information</h3>
					<table>
						<tr>
							<td><b>Birthday:</b></td>
							<td><%= @profile.user.birthday.strftime('%B %d, %Y') %></td>
						</tr>
						<tr>
							<td><b>College:</b></td>
							<td><%= @profile.user.profile.college %></td>
						</tr>
						<tr>
							<td><b>Hometown:</b></td>
							<td><%= @profile.user.profile.hometown %></td>
						</tr>
						<tr>
							<td><b>Currently Lives:</b></td>
							<td><%= @profile.user.profile.currently_live %></td>
						</tr>
					</table>
					
					<h3>Contact Information</h3>
					<table>
						<tr>
							<td><b>Email:</b></td>
							<td><a href="mailto:<%= @profile.user.email %>"><%= @profile.user.email %></a></td>
						</tr>
						<tr>
							<td><b>Telephone:</b></td>
							<td><%= @profile.user.profile.phone %></td>
						</tr>
					</table>
				</div>
				
				<div id="about_info_right" class="col-md-8">
					<h3>Words To Live By</h3>
					<p><%= @profile.user.profile.words_to_live_by %></p>
					
					<h3>About Me</h3>
					<p><%= @profile.user.profile.bio %></p>
				</div>
			</div>
		</div>
	</div>
	<!-- / Content -->