<div class="post-comment-wrapper">
	<section class="post-comment-form col-sm-12">
	
		<%= form_for(comment) do |f| %>
			
			<%= f.text_area :content, class: 'form-control', placeholder: 'Write a comment...' %>
			<!-- I don't feel good about using a hidden field here
						but I don't really have a better way to add the post_id 
						to the form... so QUESTION here, is there a better way? -->
			<%= hidden_field_tag :referrer_id , post.id %>
			<%= f.submit "Comment", class: 'btn btn-info pull-right' %>

		<% end %>

	</section>

	<!-- Now actually display the comments if they're present -->

	<section class="col-sm-12">
		<% post.comments.each do |comment| %>
			<div class="post-comment col-sm-12">
				<div class="comment-header">
					<p class="comment-author"><%= link_to comment.author.name, profile_path(comment.author.profile) %></p>
					<p class="comment-meta"><%= comment.created_at.strftime( 'said on %A %m/%d/%y' ) %></p>
				</div>

				<div class="comment-content">
					<p><%= comment.content %></p>
					<p><%= display_like_link(comment) %></p>
				</div>
			</div>
		<% end %>
	</section>

</div> <!-- /.post-comment-wrapper -->