<div id="hero_image">
	<p><%= "#{@profile.user.first_name} #{@profile.user.last_name}" %></p>
</div>

<div id="headshot_image">
	<%= image_tag "headshot.png" %>
</div>

<!-- Main navbar under hero image and headshot -->
<div id="about_navbar" class="col-md-10">
	<div class="row col-md-offset-3">
		<div class="col-md-2 navbar_button"><p><%= link_to "Timeline", profile_posts_path(@user.profile) %></p></div>
		<div class="col-md-2 navbar_button"><p><%= link_to "About", profile_path(@user.profile) %></p></div>
		<div class="col-md-2 navbar_button"><p><%= link_to "Photos", '/static_pages/photos' %></p></div>
		<div class="col-md-2 navbar_button"><p><%= link_to "Friends", '/static_pages/friends' %></p></div>
		<% if belongs_to_current_profile_user? && controller_name == 'profiles' %>
			<span class="col-md-2 col-md-offset-2 align-right"><%= link_to "Edit Profile", edit_profile_path(@current_user.profile) %></span>
		<% end %>
	</div>
</div>

<div id="about_header" class="col-md-12">
	<h2 class="inline"><%= get_page_name %></h2>
	<% if belongs_to_current_profile_user? && controller_name == 'profiles' %>
		<%= link_to "Edit Profile", edit_profile_path(@current_user.profile), class: "btn btn-info inline pull-right" %>
	<% end %>
</div>